<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496150829852-m81dhbhh94v0vi9oip08vrsl2juqem9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496150829852-m81dhbhh94v0vi9oip08vrsl2juqem9v</string>
	<key>API_KEY</key>
	<string>AIzaSyDFmnYi4lDHlcTZsGwVFRT-zqSnHzMZ2hU</string>
	<key>GCM_SENDER_ID</key>
	<string>496150829852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iVet.com</string>
	<key>PROJECT_ID</key>
	<string>ivet-697f1</string>
	<key>STORAGE_BUCKET</key>
	<string>ivet-697f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496150829852:ios:41c38f522071a30d45b8d9</string>
	<key>DATABASE_URL</key>
	<string>https://ivet-697f1.firebaseio.com</string>
</dict>
</plist>